@import "tailwindcss";
@variant dark (.dark &);

/* Glass effect utility classes */
.glass {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.glass-dark {
  background: rgba(30, 30, 30, 0.7) !important;
  backdrop-filter: blur(10px) !important;
  -webkit-backdrop-filter: blur(10px) !important;
  border: 1px solid rgba(255, 255, 255, 0.08) !important;
}

/* Improved visibility for dark mode text */
/* .text-gradient-orange {
  background: linear-gradient(to right, #f97316, #f59e0b);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
} */

.dark .text-gradient-orange {
  background: linear-gradient(to right, #f97316, #f59e0b);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.dark .text-gradient-purple {
  background: linear-gradient(to right, #a78bfa, #c084fc);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.dark .text-gradient-green {
  background: linear-gradient(to right, #008238, #00786e);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.dark .text-gradient-blue {
  background: linear-gradient(to right, #0057e7, #0077e6);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
